
{% extends 'base.html' %}
{% block title %}
Fake leg Renting|Comment page
{% endblock %}


{% block content %}



            <div class="container">
            <div  class="row">
                <div class="col-xs-10 col-xs-offset-1">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div style="margin-top:2em;border:1px dashed;padding:2em;">
                        Submit area
                        {{user}}
                        {% if user.is_authenticated %}
                            {{ user.username }},You have logged in
                        <form action="{% url 'update_comment' %}" method="POST">
                            {% csrf_token %}
                            <textarea id="comment_text" name = "text"></textarea>
                            <input type="hidden" name="object_id" value="{{ property.id }}">
                            <input type="hidden" name="content_type" value="FakeLeg">

                            <input type="submit" value="submit">

                        </form>
                        {% else %}
                            Not log in yet
                            <form action="{%url 'login' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="username">
                                <input type="password" name="password">
                                <input type="submit" value="submit">
                            </form>
                        {% endif %}
                    </div>
                    <div style="margin-top:2em;border:1px dashed;padding:2em;"> Comments area
                    {% for comment in comments %}
                        <div class="comment">
                            {{comment.user.get_nickname}}
                            ({{ comment.comment_time|date:"Y-m-d H:n:s"}}):
                            {{ comment.text }}


                            {% for reply in comment.root_comment.all %}
                            <div class="reply">
                                {{ reply.user.get_nickname}}
                                ({{ comment.comment_time|date:"Y-m-d H:n:s"}})
                                Reply
                                {{ reply.reply_to.get_nickname }}:
                                {{ reply.text }}
                            </div>
                            {% endfor %}
                        </div>
                        {% empty %}
                        no comment now
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Submit">
         <input type="submit" value="back">


{% endblock %}