{% extends 'base.html' %}

{% block title %}
Fake leg Renting|Change password
{% endblock %}


{% block content %}
<br>
<h4>fill in the following information to change password</h4>
<br>


    <form action="{% url 'change_pwd'%}" method="POST">
        {% csrf_token %}

        {% for field in change_pwd %}

        {{field.label}}
        {{field}}
        {{field.errors.as_text}}
        {% endfor %}
        {{change_pwd.non_field_errors}}


        <!--!
        这里写Django form 的使用
        对应两个框：
        -->


        <input type="submit" value="Submit">
    </form>

{% endblock %}