{% extends 'base.html' %}

{% block title %}
Fake leg Renting|Change nickname
{% endblock %}


{% block content %}
<br>
<h4>fill in the following information to change nickname</h4>
<br>

    <form action="{% url 'change_nickname'%}" method="POST">
        {% csrf_token %}

        {% for field in change_nickname %}

        {{field.label}}
        {{field}}
        {{field.errors.as_text}}
        {% endfor %}
        {{change_nickname.non_field_errors}}


        <!--!
        这里写Django form 的使用
        对应两个框：
        -->


        <input type="submit" value="Submit">
    </form>

{% endblock %}