{% extends 'base.html' %}

{% block title %}
Fake leg Renting|Forgot password
{% endblock %}


{% block content %}
<br>
fill in the following information to reset password
<br>
    <form action="{% url 'forgot_pwd'%}" method="POST">

        {% csrf_token %}

        {% for field in form %}
        {% if not field.is_hidden %}
            {{field.label}}
        {% endif %}

        {{field}}
        {{field.errors.as_text}}
        {% endfor %}
        <span id="tip" class="text-danger">{{form.non_field_errors}}</span>


        <button id="send_code" class="btn btn-primary">Send verify code</button>

        <input type="submit" value="Reset">

    </form>

{% endblock %}


{% block script %}


    <script type="text/javascript">

        $("#send_code").click(function(){

        var email = $("#id_email").val();
        if (email=="") {
            $("#tip").text('* The email cannot be empty');
            return false;
        }

        // 发送验证码 限制30秒内不能超过一次
        $.ajax({
            url: "{% url 'send_verification_code' %}",
            type: "GET",
            data: {
                'email': email,
                'send_for': 'forgot_pwd_code'
                },
            cache: false,
            success: function(data){
            if(data['status']=='ERROR'){
                alter(data['status']);
            }
        }
    });
    });
    </script>

{% endblock %}