{% extends 'base.html' %}

{% block title %}
Fake leg Renting|Login
{% endblock %}


{% block content %}
<br>
<h4>fill in the following information to login</h4>
<br>


    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %}

        {% for field in login_form %}

        {{field.label}}
        {{field}}
        {{field.errors.as_text}}
        {% endfor %}
        {{login_form.non_field_errors}}

        <!--!
        这里写Django form 的使用
        对应两个框：
        -->


        <input type="submit" value="Submit">
    </form>




{% if not user.is_authenticated %}

<a href="{% url 'forgot_pwd' %}">Forgot password?</a>

{% endif %}
{% endblock %}