{% extends 'base.html' %}

{% block title %}
Fake leg Renting|Register
{% endblock %}


{% block content %}
<br>
<h4>fill in the following information to register</h4>
<br>

    <form action="{% url 'register'%}" method="POST">

        {% csrf_token %}

        {% for field in reg_form %}

        {{field.label}}
        {{field}}

        {% endfor %}
        {{reg_form.non_field_errors}}

        <!--!
        这里写Django form 的使用
        对应两个框：
        -->

        <button id="send_code" class="btn btn-primary pull-left">Send verify code</button>

        <input type="submit" value="Submit">
    </form>
{% endblock %}




{% block script %}


    <script type="text/javascript">

        $("#send_code").click(function(){

        var email = $("#id_email").val();
        if (email=="") {
            $("#tip").text('* The email cannot be empty');
            return false;
        }

        // 发送验证码 限制30秒内不能超过一次
        $.ajax({
            url: "{% url 'send_verification_code' %}",
            type: "GET",
            data: {
                'email': email,
                'send_for': 'register_email_code'
                },
            cache: false,
            success: function(data){
            if(data['status']=='ERROR'){
                alter(data['status']);
            }
        }
    });
    });
    </script>

{% endblock %}