{% extends 'base.html' %}

{% block title %}
Fake leg Renting|User Profile
{% endblock %}


{% block content %}

    <li></h1>Personal profile</h1></li>
    </h2>{{user.username}}</h2>


<li>nickname:{{ user.get_nickname }} <a href="{% url 'change_nickname' %}">change nickname</a></li>

<li>password: <a href="{% url 'change_pwd' %}">change password</a></li>

<li>{% if user.email %}email:{{ user.email }}
    {% else %}No email bind, email is the only way to reset password, please bind email as soon as possible<a href="{% url 'bind_email' %}">bind email</a>{% endif %}</li>

 <form method="post" action="{% url 'post_form' user.id %}"> 
    {%csrf_token%}
    <input type="submit" value="Post New Property">


{% endblock %}