{% extends 'base.html' %}

{% block title %}
Fake leg Renting|Home
{% endblock %}


{% block content %}
<h2>  Hello, {{ user }}  </h2>

<h4>  This is the homepage of Fake leg renting  </h4>

<form action="/property/search" method="get">
	State: <input type="text" name="state"><br>
	Suburb: <input type="text" name="suburb"><br>
	tenantNum: <input type="text" name="person"><br>
	Price: <input type="text" name="price1">
	to <input type="text" name="price2"><br>
	<input type="submit" value="Search">
</form>




{% endblock %}