<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<form action="{% url 'book' id %}" method="get">
			First Name: <input type="text" name="f_name"><br>
			Last Name: <input type="text" name="l_name"><br>
			Mobile Number: <input type="text" name="mobile"><br>
			Email: <input type="text" name="email"><br>
			Check-in Date: <input type="text" name="s_date"><br>
			Check-out Date: <input type="text" name="e_date"><br>
			ID Number: <input type="text" name="id_num"><br>
			Address: <br>
			Street Number: <input type="text" name="st_num"><br>
			Street Name: <input type="text" name="st_name"><br>
			Suburb: <input type="text" name="suburb"><br>
			State: <input type="text" name="state"><br>
			Card Number: <input type="text" name="card_num"><br>
			<input type="submit" value="BOOK">
		</form>
	</body>
</html>