<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Posting</title>
</head>
<body>
	<form action="{% url 'post' id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		State: <input type="text" name="state"><br>
		Suburb: <input type="text" name="suburb"><br>
		Address: <br>
		Street Number: <input type="number" name="st_num"><br>
		Street Name: <input type="text" name="st_name"><br>
		House Type:
		<input type="radio" name="house_type" value="apartment" checked>Apartment
		<input type="radio" name="house_type" value="house">House
		<input type="radio" name="house_type" value="unit">Unit
		<input type="radio" name="house_type" value="townhouse">Townhouse
		<input type="radio" name="house_type" value="terrace">Terrace<br>
		Pet: <input type="radio" name="pet" value="1" checked>Yes
		<input type="radio" name="pet" value="0">No<br>
		Wifi: <input type="radio" name="wifi" value="1" checked>Yes
		<input type="radio" name="wifi" value="0">No<br>
		Kitchen: <input type="radio" name="kitchen" value="1" checked>Yes
		<input type="radio" name="kitchen" value="0">No<br>
		Laundry: <input type="radio" name="laundry" value="1" checked>Yes
		<input type="radio" name="laundry" value="0">No<br>
		Parking: <input type="radio" name="park_lot" value="1" checked>Yes
		<input type="radio" name="park_lot" value="0">No<br>
		tenantNum: <input type="number" name="person"><br>
		Price: <input type="number" name="price"><br>
		Brief Introduction:<br>
		<textarea name="brief_intro" cols="50" rows="10">Describe your property here...</textarea><br>
		Image: <input type="file", name="img"><br>
		<input type="submit" value="Post">
	</form>
</body>
</html>