<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>{{ results.suburb }}</h1>
		<h2>{{ results.st_number }}&nbsp{{ results.st_name }}&nbspStreet, {{ results.suburb }}, {{ results.state }}</h2>
		<h3>Type: {{ results.house_type }}</h3>
		<h3>{{ results.tenant_num }} Guests Max</h3>
		<h3>{{ results.price }}AUD/night</h3>

		<h4>Introduction by Landlord:</h4>
		{{ results.brief_intro }}<br>
		<h4>Unavailable Dates: 
		{% for date in dates %}
			{{ date.booked_date }},&nbsp
		{% endfor %}</h4>
		<h4>Facilities:</h4>
		{% if results.kitchen == 1 %}
			Kitchen: Yes<br>
		{% else %}
			Kitchen: No<br>
		{% endif %}
		{% if results.laundry == 1 %}
			Laundry: Yes<br>
		{% else %}
			Laundry: No<br>
		{% endif %}
		{% if results.pet == 1 %}
			Pet: Yes<br>
		{% else %}
			Pet: No<br>
		{% endif %}
		{% if results.wifi == 1 %}
			Wi-Fi: Yes<br>
		{% else %}
			Wi-Fi: No<br>
		{% endif %}
		{% if results.park_lot == 1 %}
			Parking: Yes<br>
		{% else %}
			Parking: No<br>
		{% endif %}
		<br>

		<!--!
        增加comment页面url
        -->

    <form action="{% url 'comment' results.id%}" method="POST">
        {% csrf_token %}
        <input type="submit" value="comment">
    </form><br>



		<form method="post" action="{% url 'book_form' results.id %}">
			{%csrf_token%}
			<input type="submit" value="BOOK">
	</body>
</html>