<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		{% for property in res %}
			<h1><a href="{% url 'property' property.id %}">{{ property.suburb }}&nbsp{{ property.state }}</a></h1>
			<p>Tenant Number: {{ property.tenant_num}}</p>
			<p>Price: {{ property.price }}</p>

		{% endfor %}
	</body>
</html>